<div id="deliveryschedule_views_home_index">
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <div>Debugging is enabled.</div>
    }
    <input type="button" value="График поставок для спецификации с id='122527'." onclick="DeliveryScheduleViewsHomeIndex.goToDeliverySchedulePage()" />
</div>
<script type="text/javascript">
    var DeliveryScheduleViewsHomeIndex = (function () {
        return {
            goToDeliverySchedulePage: function () {
                var rqp = {
                    SessionId: '00000000-0000-0000-0000-000000000000',
                    Command: 'GoToDeliverySchedule',
                    Parameters: [
                        { Name: 'id', Value: '122527' }
                    ]
                };
                Nskd.Http.post({
                    url: '/DeliverySchedule/F3',
                    rqp: rqp,
                    done: function (data) {
                        $('#_layout_content').html(data);
                    }
                });
            }
        };
    })();
</script>
