@using System.Data
@model DataSet
    <!DOCTYPE HTML>
    <html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>DeliverySchedule</title>
    </head>
    <body>
        <div>{body}</div>
    </body>
</html>